/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    font-size:      1.1rem;
    margin:         0;
}

/*
*,
*::before,
*::after {
    outline:    4px dotted white;
}
*/


:root {
    --light-main:           #fae7e7;       
    --grey:                 #786a6a;
    --black:                #090202;
    --primary-color:        #992808;
    --secondary-color:      #f74848;
    --font-color:           #E54519;
    --main-success:         #00996C;
    --secondary-success:    #19E6A9;


    --margin-to-selection:  15vh;
    --starting-outside-pos: 120vw;
    --ending-outside-pos:   -120vw;
    --radius:               20px;
}

html {
    overflow:   hidden;
    width:      100svw;
    height:     100svh;
}

body {
    color:              var(--light-main);
    background:         var(--black);
    font-family:        'Source Sans Pro', sans-serif;
    height:             100svh;
    width:              100svw;
    display:            -webkit-box;
    display:            -ms-flexbox;
    display:            flex;
    text-align:         center;
    -webkit-box-orient:     vertical;
    -webkit-box-direction:     normal;
        -ms-flex-direction:     column;
            flex-direction:     column;
    -webkit-box-pack:    center;
        -ms-flex-pack:    center;
            justify-content:    center;
    -webkit-box-align:        center;
        -ms-flex-align:        center;
            align-items:        center;
    position:           relative;
    overflow:           hidden;
}


h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
}


h1 {
    color:          var(--light-main);
    font-size:      300%;
    letter-spacing: 5px;
    margin-bottom:  var(--margin-to-selection);
}


form {
    display:        -webkit-box;
    display:        -ms-flexbox;
    display:        flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:    center;
        -ms-flex-align:    center;
            align-items:    center;
    position:       relative;
}


label[for="skill"] {
    letter-spacing:     3px;
    font-weight:        900;
}

.skill-selector {
    margin-top:     1rem;
    padding:        .4rem .4rem;
    border-radius:  var(--radius);
    -webkit-transition:     -webkit-transform 0.3s ease;
    transition:     -webkit-transform 0.3s ease;
    -o-transition:     transform 0.3s ease;
    transition:     transform 0.3s ease;
    transition:     transform 0.3s ease, -webkit-transform 0.3s ease;
}


.skill-selector:focus {
    -webkit-transform:      scale(1.01);
        -ms-transform:      scale(1.01);
            transform:      scale(1.01);
}

.skill-selector:hover {
    -webkit-transform:      scale(1.01);
        -ms-transform:      scale(1.01);
            transform:      scale(1.01);
}


.exercise-section {
    position:       absolute;
    top:            0;
    right:          0;
    bottom:         0;
    left:           0;
    padding:        40px;
    /*width:          100svw;
    height:         100svh;*/
    -webkit-box-sizing:     border-box;
            box-sizing:     border-box;
    display:        none;
    overflow:       auto;
}


.exercise-section.activated {
    display:        -webkit-box;
    display:        -ms-flexbox;
    display:        flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:    stretch;
        -ms-flex-align:    stretch;
            align-items:    stretch;
}

.exercise-section__step {
    background:         var(--light-main);
    color:              var(--black);
    line-height:        120%;
    letter-spacing:     110%;
    position:           relative;
    display:            none;
    -webkit-box-align:        center;
        -ms-flex-align:        center;
            align-items:        center;
    border-radius:      20px;
    padding:            20px;
    margin:             20px;
    opacity:            0.9;
    cursor:             pointer;
}


.exercise-section__step:first-of-type {
    display:    -webkit-box;
    display:    -ms-flexbox;
    display:    flex;
}

.exercise-section__step--displayed {
    display:     -webkit-box;
    display:     -ms-flexbox;
    display:     flex;
}

.exercise-section__step::before {
    content:            "Show Step";
    color:              var(--light-main);
    background:         var(--black);
    font-weight:        bold;
    letter-spacing:     5px;
    display:            -webkit-box;
    display:            -ms-flexbox;
    display:            flex;
    -webkit-box-pack:    center;
        -ms-flex-pack:    center;
            justify-content:    center;
    -webkit-box-align:        center;
        -ms-flex-align:        center;
            align-items:        center;
    position:           absolute;
    inset:              -2px -2px -2px -2px;
    border:             0.2rem dotted var(--primary-color);
    border-radius:      var(--radius);
    opacity:            var(--js-opacity);
    -webkit-transition:         opacity 0.2s ease-in-out;
    -o-transition:         opacity 0.2s ease-in-out;
    transition:         opacity 0.2s ease-in-out;
}


.exercise-section__home-button {
    background:     var(--black);
    color:          var(--light-main);
    border:         none;
    min-width:      30%;
    margin:         0 auto;
    font:           inherit;
    cursor:         pointer;
}


.confirmation-button.flickering {
    margin-top: var(--margin-to-selection);
    padding:    1rem 2rem;
    color:      var(--light-main);
    background: var(--black);
    cursor:     pointer;
}


.settings {
    display:        none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position:       absolute;
}


.settings div {
    display:    none;
    width:      -webkit-max-content;
    width:      -moz-max-content;
    width:      max-content;
    visibility: hidden;                 /* TODO */
}


.flickering {
    border: 0.2rem solid var(--secondary-color);
    border-radius: 2rem;
    padding: 0.4em;
}

.animate-in {
    -webkit-animation:  go-in 1.2s forwards;
            animation:  go-in 1.2s forwards;
}

.animate-out {
    -webkit-animation:  go-out 1.2s forwards;
            animation:  go-out 1.2s forwards;
}

@-webkit-keyframes go-out {
    from {
        -webkit-transform:      translateX(0);
                transform:      translateX(0);
    }
    to {
        -webkit-transform:      translateX(var(--ending-outside-pos));
                transform:      translateX(var(--ending-outside-pos))
    }
}

@keyframes go-out {
    from {
        -webkit-transform:      translateX(0);
                transform:      translateX(0);
    }
    to {
        -webkit-transform:      translateX(var(--ending-outside-pos));
                transform:      translateX(var(--ending-outside-pos))
    }
}

@-webkit-keyframes go-in {
    from {
        -webkit-transform:      translateX(var(--starting-outside-pos));
                transform:      translateX(var(--starting-outside-pos));
    }
    to {
        -webkit-transform:      translateX(0);
                transform:      translateX(0)
    }
}

@keyframes go-in {
    from {
        -webkit-transform:      translateX(var(--starting-outside-pos));
                transform:      translateX(var(--starting-outside-pos));
    }
    to {
        -webkit-transform:      translateX(0);
                transform:      translateX(0)
    }
}



@media only screen and (max-width: 450px) {
    .home-section {
        width:      80%;
    }

    .home-section .home-section__header {
        font-size: 200%;
    }

    .skill-selector {
        font-size: 0.7rem;
        padding:   0.4rem .4rem;
    }
}