:root {
    --light-main:           #ffeaea;       
    --grey:                 #786a6a;
    --black:                #090202;
    --primary-color:        #992808;
    --secondary-color:      #FF6136;
    --font-color:           #E54519;
    --main-success:         #00996C;
    --secondary-success:    #19E6A9;
}


body {
    margin:         0;
    background:     var(--light-main);
}